<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campground</title>
</head>
<body>
    <h1><%= campground.title %></h1>
    <h1><%= campground.location%></h1>
    <h1><%= campground.description%></h1>
    <h1><%= campground.price %></h1>
    <a href="/campgrounds">Back To Campgrounds</a>
    <a href="/campground/<%= campground._id%>/edit">Edit the campground</a>
</body>
</html>